[submodule "projects/webext-google-cleaner"]
	path = projects/webext-google-cleaner
	url = https://github.com/icetbr/webext-google-cleaner
[submodule "projects/webext-hacker-news-compact-and-clear"]
	path = projects/webext-hacker-news-compact-and-clear
	url = https://github.com/icetbr/webext-hacker-news-compact-and-clear
[submodule "projects/webext-shopee-advanced-search"]
	path = projects/webext-shopee-advanced-search
	url = https://github.com/icetbr/webext-shopee-advanced-search
[submodule "projects/userscripts"]
	path = projects/userscripts
	url = https://github.com/icetbr/userscripts
[submodule "projects/utils"]
	path = projects/utils
	url = https://github.com/icetbr/utils
[submodule "projects/vitest-cleaner-reporter"]
	path = projects/vitest-cleaner-reporter
	url = https://github.com/icetbr/vitest-cleaner-reporter
[submodule "projects/webext-gmail-persistent-sidebar"]
	path = projects/webext-gmail-persistent-sidebar
	url = https://github.com/icetbr/webext-gmail-persistent-sidebar
[submodule "projects/webext-whatsapp-talk-to-unsaved-contacts"]
	path = projects/webext-whatsapp-talk-to-unsaved-contacts
	url = https://github.com/icetbr/webext-whatsapp-talk-to-unsaved-contacts
[submodule "projects/webext-cleanerreads"]
	path = projects/webext-cleanerreads
	url = https://github.com/icetbr/webext-cleanerreads
